.home__container {
  gap: 1rem; }

.home__content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center; }

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
  float: left; }

.home__social-icon {
  font-size: 1.25rem;
  color: var(--first-color); }

.home .svg-bg {
  fill: var(--first-color);
  position: relative;
  top: -2rem; }

.home__data {
  grid-column: 1/3; }

.home__img {
  height: 14rem;
  width: 14rem;
  border-radius: 50%;
  background-color: var(--first-color);
  position: relative;
  display: block;
  top: -2rem;
  left: 5rem;
  background-image: url(../img/me.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--margin-botton-0-5); }

.home__subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--margin-botton-0-75); }

.home__description {
  margin-bottom: var(--margin-botton-2); }

.home__scroll-btn {
  color: var(--first-color);
  transition: ease 0.4s; }

.home__scroll-btn:hover {
  transform: translateY(0.25rem); }

.home__scroll-mouse {
  font-size: 2rem; }

.home__scroll-name {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--margin-botton-0-25); }

.home__scroll-arrow {
  font-size: 1.25rem; }

.btn {
  display: inline-block;
  background-color: var(--first-color);
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium); }

.btn:hover {
  background-color: var(--first-color-alt); }

.btn__icon {
  font-size: 1.25rem;
  margin-left: var(--margin-botton-0-5);
  transition: ease 0.4s; }

.btn--flex {
  display: inline-flex;
  align-items: center; }

.main-about {
  padding: 2rem; }

.about.dark-theme {
  background-color: black; }

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke; }
  .about__img {
    width: 250px;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    justify-self: center; }
  .about__description {
    text-align: center;
    margin-bottom: var(--margin-botton-2-5); }
  .about__info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--margin-botton-2-5); }
  .about__info-title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color); }
  .about__info-name {
    font-size: var(--smaller-font-size);
    text-align: center; }
  .about__info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .about__btn {
    display: flex;
    justify-content: center; }

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar);
  border-radius: 0.5rem; }

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 0.5rem; }

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .skills__container {
    row-gap: 0;
    width: 100%;
    padding: 0 3rem; }
  .skills .skills__content.open .skills__list {
    height: max-content;
    padding: 1.5rem 0 0 3rem; }
  .skills .skills__content.open .skills__arrow {
    transform: rotate(-180deg); }
  .skills__header {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px #dbdbdb solid;
    padding: 0.5rem 0; }
  .skills__icon, .skills__arrow {
    font-size: 2rem;
    color: var(--first-color); }
  .skills__list {
    row-gap: 1.5rem;
    height: 0;
    overflow: hidden; }
  .skills__list.open {
    height: max-content; }
  .skills__icon {
    margin-right: var(--margin-botton-0-75); }
  .skills__title {
    font-size: var(--h3-font-size);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0; }
  .skills__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light); }
  .skills__arrow {
    margin-left: auto;
    transition: ease 0.4s; }
  .skills__arrow.open {
    transform: rotate(180deg); }
  .skills__name {
    font-size: var(--regular-font-size);
    font-weight: var(--font-medium); }
  .skills__bar, .skills__percentage {
    height: 5px;
    border-radius: 0.25rem; }
  .skills__bar {
    background-color: whitesmoke; }
  .skills__percentage {
    display: block;
    background-color: var(--first-color); }
  .skills__html {
    width: 90%; }
  .skills__css {
    width: 80%; }
  .skills__javascript {
    width: 60%; }
  .skills__react {
    width: 85%; }
  .skills__php {
    width: 10%; }
  .skills__firebase {
    width: 80%; }
  .skills__node {
    width: 20%; }
  .skills__python {
    width: 5%; }
  .skills__figma {
    width: 90%; }
  .skills__photoshop {
    width: 95%; }
  .skills__sketch {
    width: 90%; }
  .skills__ai {
    width: 85%; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0 0 var(--header-height);
  font-family: 'Montserrat', sans-serif;
  font-size: var(--regular-font-size);
  background-color: var(--body-color);
  color: var(--text-color); }

body.dark-theme {
  --first-color: #27a09e;
  --first-color2: #00060a;
  --first-color-alt: hsl(250, 40%, 27%);
  --first-color-lighter: hsl(0, 0%, 65%);
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 67%);
  --text-color-light: hsl(0, 0%, 92%);
  --input-color: #222222;
  --body-color: #111111;
  --container-color: #222222;
  --logo: white;
  --scroll-bar: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb: hsl(var(--hue-color), 12%, 36%); }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.section {
  padding: 2rem 0 4rem; }

.section__title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: var(--margin-botton-0-25); }

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--margin-botton-3);
  text-align: center; }

.container {
  max-width: 768px;
  margin-left: var(--margin-botton-1-5);
  margin-right: var(--margin-botton-1-5); }

.grid {
  display: grid;
  gap: 1.5rem; }

h1,
h2,
h3 {
  color: var(--title-color); }

h4 {
  color: var(--text-color);
  font-weight: var(--font-semi-bold); }

p {
  color: var(--text-color); }

:root {
  --header-height: 3rem;
  --hue-color: 132;
  --first-color: hsl(var(--hue-color), 0%, 20%);
  --first-color2: hsl(var(--hue-color), 0%, 30%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: hsl(0, 0%, 96%);
  --logo: black;
  --scroll-bar: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb: hsl(var(--hue-color), 12%, 80%);
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --regular-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --margin-botton-0-25: 0.25rem;
  --margin-botton-0-5: 0.5rem;
  --margin-botton-0-75: 0.75rem;
  --margin-botton-1: 1rem;
  --margin-botton-1-5: 1.5rem;
  --margin-botton-2: 2rem;
  --margin-botton-2-5: 2.5rem;
  --margin-botton-3: 3rem;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000; }

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  box-shadow: 0px -1px 3px -1px #000000; }

.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav__logo {
    position: relative;
    width: 3.5em;
    fill: var(--logo); }
  .nav__logo:hover {
    color: var(--first-color); }
  .nav__toggle {
    color: var(--first-color);
    font-weight: var(--font-medium);
    font-size: 1.1rem;
    cursor: pointer; }
  .nav__toggle:hover {
    color: var(--first-color); }
  .nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem; }
  .nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    text-align: center; }
  .nav__icon {
    font-size: 1.2rem; }
  .nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: ease 0.5s; }
  .nav__close:hover {
    color: var(--first-color);
    transition: ease 0.3s; }
  .nav__link:hover {
    color: var(--first-color); }
  @media screen and (max-width: 767px) {
    .nav .nav__menu {
      position: fixed;
      bottom: -100%;
      left: 0;
      width: 100%;
      background-color: var(--body-color);
      padding: 2rem 1.5rem 4rem;
      box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
      border-radius: 1.5rem 1.5rem 0 0;
      transition: ease 0.5s; }
    .nav .nav__menu.active {
      bottom: 0; } }

.home__blob-img {
  width: 12rem;
  height: 12rem; }

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s; }

.scrollup i {
  color: white;
  font-size: 1.5rem; }

.scrollup:hover {
  background-color: var(--first-color-alt); }

.show-scroll {
  bottom: 5rem; }

.nav__btns {
  display: flex;
  align-items: center; }

.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--margin-botton-1);
  cursor: pointer; }

.change-theme:hover {
  color: var(--first-color); }

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .services__container {
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr); }
  .services__content {
    position: relative;
    background-color: var(--container-color);
    padding: 5.5rem 5rem 1.25rem 2rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: ease 0.3s; }
  .services__content:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); }
  .services__icon {
    display: block;
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: var(--margin-botton-1); }
  .services__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--margin-botton-1);
    font-weight: var(--font-medium); }
  .services__btn {
    cursor: pointer;
    font-size: var(--small-font-size); }
  .services__btn:hover .btn__icon {
    transform: translateX(0.25rem); }
  .services__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    transition: ease 0.4s;
    opacity: 0;
    visibility: hidden; }
  .services__modal-content {
    position: relative;
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 0.5rem; }
  .services__modal-services {
    row-gap: 1rem; }
  .services__modal-service {
    display: flex; }
  .services__modal-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--margin-botton-1-5); }
  .services__modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer; }
  .services__modal-icon {
    color: var(--first-color);
    margin-right: var(--margin-botton-0-25); }

.active-modal {
  opacity: 1;
  visibility: visible; }

.btn--flex {
  display: inline-block;
  align-items: center;
  width: max-content; }

.btn--small {
  padding: 0.75rem 1rem; }

.btn--link {
  padding: 0;
  background-color: transparent;
  color: var(--first-color); }

.btn--link:hover {
  background-color: transparent;
  color: var(--first-color-alt); }

.btn--white {
  background-color: white;
  color: var(--first-color); }

.btn--white:hover {
  background-color: white; }

.portfolio.dark-theme {
  background-color: black; }

.navigate {
  position: fixed;
  top: 10rem;
  background-color: transparent;
  right: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10; }

.navi-box {
  position: relative;
  display: block;
  background-color: var(--first-color);
  height: 5rem;
  width: 5rem;
  border: white 0.01rem solid;
  transform: ease 0.4s; }
  @media (max-width: 480px) {
    .navi-box {
      height: 4rem;
      width: 4rem; } }

.navi-box:hover {
  background-color: gray; }

.web,
.ux,
.graphics {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer; }

.portfolio {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: whitesmoke;
  padding: 3rem 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (max-width: 480px) {
    .portfolio {
      flex-direction: column;
      padding: 3rem 3rem; } }

.portfolio-page {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: whitesmoke;
  padding: 3rem 30rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  @media (max-width: 480px) {
    .portfolio-page {
      flex-direction: column;
      padding: 3rem 3rem;
      flex-wrap: nowrap; } }

.pj-card {
  width: 25%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.3rem;
  cursor: pointer;
  box-shadow: 0 0 2rem 0.1rem #8080803b;
  text-decoration: none;
  overflow: hidden;
  margin: 1rem;
  position: relative; }
  @media (max-width: 480px) {
    .pj-card {
      width: 100%;
      margin-bottom: 1rem; } }

.pj-img {
  background-color: grey;
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.pj-img-1 {
  background-image: url(../img/tinafront.png); }

.pj-img-2 {
  background-image: url(../img/ffff.png); }

.pj-img-3 {
  background-image: url(../img/kl.png); }

.pj-img-4 {
  background-image: url(../img/easymob.jpg); }

.pj-img-5 {
  background-image: url(../img/Gravity-Devices-UI-Mockup-Set-vol7luiluil.png); }

.pj-img-6 {
  background-image: url(../img/easymob.jpg); }

.pj-content {
  padding: 2rem; }
  @media (max-width: 768px) {
    .pj-content {
      padding: 1rem; } }

.pj-heading {
  background-color: white;
  color: dimgray;
  padding: 0.5rem;
  font-size: 0.8rem;
  text-align: center;
  font-weight: 600; }

.pj-text {
  background-color: white;
  color: grey;
  padding: 0.5rem;
  font-size: 0.8rem;
  text-align: center; }

.pj-btn {
  color: white;
  font-size: 1rem;
  padding: 1rem 6rem;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  background-color: var(--first-color);
  box-shadow: 0 0.3rem 0.5rem 0.1rem #00000044;
  transition: all ease-in-out 0.2s;
  width: 100%; }

.pj-btn:hover {
  background-color: grey;
  color: white;
  font-weight: 500; }

.tina-box,
.five-box,
.elite-box,
.perspect-box,
.easy-box {
  height: 20rem;
  width: 45%;
  position: relative;
  display: inline-block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0.5rem; }
  @media (max-width: 480px) {
    .tina-box,
    .five-box,
    .elite-box,
    .perspect-box,
    .easy-box {
      height: 18rem;
      width: 100%; } }

.easy-box1 {
  background-image: url(../img/ea1.png); }

.easy-box2 {
  background-image: url(../img/ea2.png); }

.easy-box3 {
  background-image: url(../img/ea3.png); }

.easy-box4 {
  background-image: url(../img/ea4.png); }

.elite-box1 {
  background-image: url(../img/e1.png); }

.elite-box2 {
  background-image: url(../img/e2.png); }

.elite-box3 {
  background-image: url(../img/e3.png); }

.elite-box4 {
  background-image: url(../img/e4.png); }

.elite-box5 {
  background-image: url(../img/e5.png); }

.elite-box6 {
  background-image: url(../img/e6.png); }

.elite-box7 {
  background-image: url(../img/e7.png); }

.elite-box8 {
  background-image: url(../img/e8.png); }

.elite-box9 {
  background-image: url(../img/e9.png); }

.perspect-box1 {
  background-image: url(../img/per1.png); }

.perspect-box2 {
  background-image: url(../img/per2.png); }

.perspect-box3 {
  background-image: url(../img/per3.png); }

.perspect-box4 {
  background-image: url(../img/per4.png); }

.perspect-box5 {
  background-image: url(../img/per5.png); }

.perspect-box6 {
  background-image: url(../img/per6.png); }

.perspect-box6 {
  background-image: url(../img/per7.png); }

.five-box1 {
  background-image: url(../img/51.png); }

.five-box2 {
  background-image: url(../img/52.png); }

.five-box3 {
  background-image: url(../img/53.png); }

.five-box4 {
  background-image: url(../img/54.png); }

.five-box5 {
  background-image: url(../img/55.png;); }

.five-box6 {
  background-image: url(../img/56.png;); }

.five-box7 {
  background-image: url(../img/57.png;); }

.five-box8 {
  background-image: url(../img/58.png;); }

.tina-box1 {
  background-image: url(../img/Xhg.png); }

.tina-box2 {
  background-image: url(../img/tinawide.png); }

.tina-box3 {
  background-image: url(../img/tgt.png); }

.tina-box4 {
  background-image: url(../img/thb.png); }

.tina-box5 {
  background-image: url(../img/thh.png); }

.tina-box6 {
  background-image: url(../img/tgb.png); }

.tina-box7 {
  background-image: url(../img/mackk.png); }

.tina-box8 {
  background-image: url(../img/mackk2.png); }

.tina-box9 {
  background-image: url(../img/mackk3.png); }

.ui-box,
.graphics-box {
  height: 10rem;
  width: 25%;
  position: relative;
  display: inline-block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  box-shadow: 0 0 0.5rem 0.2rem #ebebeb;
  margin: 0.5rem; }
  @media (max-width: 480px) {
    .ui-box,
    .graphics-box {
      height: 18rem;
      width: 100%; } }

.ui-box1 {
  background-image: url(../img/smart.png); }

.g-box1 {
  background-image: url(../img/ntaba.png); }

.g-box2 {
  background-image: url(../img/BigEgo.png); }

.g-box3 {
  background-image: url(../img/rumba.png); }

.g-box4 {
  background-image: url(../img/oni.png); }

.g-box5 {
  background-image: url(../img/rnb.png); }

.g-box6 {
  background-image: url(../img/teja2.png); }

.g-box7 {
  background-image: url(../img/messi10-01.png); }

.g-box8 {
  background-image: url(../img/perp.png); }

.g-box9 {
  background-image: url(../img/lkol.png); }

.g-box10 {
  background-image: url(../img/adaci.jpg); }

.g-box11 {
  background-image: url(../img/bala-01.jpg); }

.g-box12 {
  background-image: url(../img/ruler.png); }

.g-box13 {
  background-image: url(../img/ntaba.png); }

.g-box14 {
  background-image: url(../img/teja1.png); }

.g-box15 {
  background-image: url(../img/Artboard1@2x.png); }

.g-box16 {
  background-image: url(../img/ibooking.png); }

.project {
  text-align: center; }
  .project__container {
    width: 100%; }
  .project__bg {
    background-color: var(--first-color2);
    padding-top: 3rem;
    display: flex;
    justify-content: center; }
  .project__title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--margin-botton-0-75); }
  .project__description {
    margin-bottom: var(--margin-botton-1-5); }
  .project__title, .project__description {
    color: white; }
  .project__img {
    justify-self: center; }

.contact {
  padding: 0 2rem; }
  .contact__container {
    row-gap: 3rem; }
  .contact__information {
    display: flex;
    margin-bottom: var(--margin-botton-0-75); }
  .contact__icon {
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--margin-botton-0-75); }
  .contact__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--margin-botton-0-25); }
  .contact__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light); }
  .contact__content {
    background-color: #e4e4e4;
    border-radius: 0.5rem;
    padding: 1rem; }
  .contact__label {
    font-size: var(--small-font-size);
    color: var(--title-color);
    margin-bottom: var(--margin-botton-0-25);
    font-weight: 500; }
  .contact__input {
    width: 100%;
    background-color: #e4e4e4;
    border: none;
    outline: none;
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--regular-font-size); }
  .contact__form {
    width: 100%; }

.footer {
  padding-top: 2rem; }
  .footer__container {
    row-gap: 3.5rem; }
  .footer__bg {
    background-color: var(--first-color2);
    padding: 2rem 0 3rem; }
  .footer__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--margin-botton-0-25); }
  .footer__subtitle {
    font-size: var(--small-font-size); }
  .footer__links {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem; }
  .footer__link:hover {
    color: var(--first-color-alt); }
  .footer__social {
    font-size: 1.5rem;
    margin-right: var(--margin-botton-1-5); }
  .footer__social:hover {
    color: var(--first-color-alt); }
  .footer__copy {
    font-size: var(--smaller-font-size);
    text-align: center;
    color: var(--text-color-light);
    margin-top: var(--margin-botton-3); }
  .footer__title, .footer__subtitle, .footer__link, .footer__social {
    color: white; }

@media screen and (min: width 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --regular-font-size: 1rem;
    --small-font-size: 875rem;
    --smaller-font-size: 0.813rem; } }

@media screen and (max-width: 568px) {
  .container {
    margin: 0 1rem; }
  .nav__menu {
    padding: 2rem 0.25rem 4rem; }
  .nav__list {
    column-gap: 0; }
  .home_-content {
    grid-template-columns: 0.25fr 3fr; }
  .svg-bg {
    width: 75%;
    margin-left: 3rem; }
  .skills__title {
    font-size: var(--regular-font-size); }
  .services__container {
    grid-template-columns: max-content;
    justify-content: center; }
  .services__content {
    padding: 5.5rem 8rem 1.25rem 3rem; }
  .services__modal {
    padding-right: 0 0.5rem; }
  .services__icon {
    font-size: 2rem; }
  .project__img {
    width: 200px; }
  .skills__list {
    padding: 1.5rem 2.5rem 0; } }

@media screen and (min-width: 568px) {
  .home__content {
    grid-template-columns: max-content 1fr 1fr;
    display: flex; }
  .svg-bg {
    top: 0;
    left: 0;
    width: 200px; }
  .home__img {
    order: 1;
    justify-self: center; }
  .home__data {
    grid-column: initial;
    margin-left: 2rem;
    padding-right: 1rem; }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    align-items: center; }
  .portfolio__container {
    grid-template-columns: repeat(2, 1fr); }
  .about__img {
    height: max-content;
    width: 250px; }
  .skills__container {
    grid-template-columns: repeat(2, 1fr); }
  .portfolio__img {
    width: 350px; }
  .portfolio__content {
    display: flex; }
  .services__modal-content {
    padding: 4rem;
    width: 350px; }
  .project__container {
    display: flex;
    justify-content: center;
    align-items: center; }
  .contact__data {
    display: flex;
    align-items: flex-start; }
  .contact__box1 {
    margin-right: 3rem; }
  .footer__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center; } }

@media screen and (min-width: 768px) {
  .home__data {
    width: 55%; }
  .home__content {
    padding-top: 5.5rem; }
  .home__scroll {
    display: block;
    width: max-content;
    position: relative;
    left: 3rem; }
  .container {
    margin-left: auto;
    margin-right: auto; }
  .section {
    padding: 6rem 0 2rem; }
  .section__subtitle {
    margin-bottom: 4rem; }
  .header {
    top: 0;
    bottom: initial; }
  .header,
  .main,
  .footer__container {
    padding: 0 2rem; }
  .nav {
    height: calc(var(--header-height)+1.5rem);
    column-gap: 1rem;
    padding: 2rem 0; }
  .nav__icon,
  .nav__toggle,
  .nav__close {
    display: none; }
  .nav__list {
    display: flex;
    column-gap: 2rem; }
  .nav__menu {
    margin-left: auto; }
  .change_theme {
    margin: 0; }
  .svg-bg {
    width: 270px; }
  .about__img {
    width: 350px;
    margin-right: 1.5rem; }
  .about__description {
    text-align: left; }
  .about__btn {
    float: left; }
  .about__info {
    justify-content: space-between; }
  .services__container {
    display: flex; }
  .services__icon {
    font-size: 2rem; }
  .services__modal-content {
    width: 450px; }
  .project__bg {
    background: none; }
  .project__container {
    background-color: var(--first-color);
    border-radius: 1rem;
    padding: 3rem 2.5rem 0;
    grid-template-columns: 1fr max-content;
    column-gap: 3rem; }
  .project__data {
    text-align: left; }
  .nav__logo {
    width: 5rem; }
  .change-theme {
    margin-left: 2rem; }
  .footer__container {
    justify-content: space-between; }
  .footer__bg {
    padding: 3rem 0 3.5rem; }
  .footer__links {
    flex-direction: row; }
  .footer__link {
    margin: 0 1rem; } }

@media screen and (min-width: 1024px) {
  .header,
  .main,
  .footer__container {
    padding: 0; }
  .home__social {
    transform: translateX(-5rem); }
  .portfolio__img {
    width: 300px; }
  .swiper-portfolio-icon {
    font-size: 3.5rem; }
  .swiper-button-prev {
    left: 0; }
  .swiper-button-next {
    right: 0; }
  .swiper-pagination {
    bottom: -2px; }
  .about__img {
    width: 350px; }
  .contact {
    padding: 3rem 18rem; }
  .contact__information {
    margin-bottom: 2rem; }
  .portfolio__data {
    margin-left: 3rem; }
  .portfolio__content {
    padding: 0 4rem; } }
